body{
   background-image: url("https://cdn.pixabay.com/photo/2017/01/29/13/48/geometric-2018038_960_720.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0px;
 }

 #title{
    background-color: #707B7C;
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0;
 }
 #instructions{
    background-color: #707B7C;
    position: relative;
 
 }
 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
 }
 #stats{
    height: 100px;
    width: 50%;
    margin-bottom: 10px;
 }
 #presult{
    background-color: #3636f9
 ;
    height: 100px;
    margin-bottom: 10px;
    
 }
 #winsloss{
    background-color: #3636f9
 ;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
 }
 #crystals{
    margin-bottom: 10px;
 }
 #yourscore{
    background-color: #4747ff;
    height: 25px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 25px; 
 }
 #score{
    background-color: #4747ff;
    height: 100px;
 }
 h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    position: relative;
    left: 10px;
    text-align: center;
    line-height: 50px;
    color: white;
 }
 #crystal1 {
     color: rgb(21, 92, 97);
 }